* {
  font-family: 'Roboto', sans-serif;
  color: #353535;
  font-size: 18px;
}

body {
  padding: 0;
  margin: 0;
}

.container {
  display: block;
  max-width: 1140px;
  padding: 10px;
  margin: 0 auto;
}

.price {
  font-weight: 700;
  color: #009100;
  text-shadow: 1px 1px 5px white;
}

@media (max-width: 1080px) {
  .container {
    display: block;
    max-width: 100%;
    padding: 10px;
    margin: 0 auto;
  }
}

@media (max-width: 768px) {
  .container {
    display: block;
    max-width: 100%;
    padding: 10px;
    margin: 0 auto;
  }
}

@media (max-width: 640px) {
  .container {
    display: block;
    max-width: 100%;
    padding: 10px;
    margin: 0 auto;
  }
}

.promo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: url(../img/promobgdark.jpg) center center/cover no-repeat;
  min-height: 600px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.promo .container {
  display: block;
  margin: 0 auto;
}

.promo .container .header {
  margin-top: 10px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 75px;
  font-size: 18px;
  line-height: 18px;
  width: 100%;
  border-radius: 5px;
  color: #fff;
  z-index: 4;
}

.promo .container .header__link {
  display: block;
  text-decoration: none;
  color: #fff;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.99);
}

.promo .container .header__link:after {
  content: '';
  display: block;
  height: 2px;
  background-color: white;
  width: 0%;
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
  margin: 0 auto;
}

.promo .container .header__link:hover:after {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
  width: 100%;
  margin: 0 auto;
}

.promo .container .subheader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100px;
  text-align: left;
  z-index: 4;
}

.promo .container .subheader:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.promo .container .subheader_city {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 48px;
  line-height: 48px;
  font-weight: 200;
  text-align: center;
  -webkit-transform: translateY(-6px);
          transform: translateY(-6px);
  color: #fff;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.99);
}

.promo .container .subheader_phones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  min-width: 250px;
  color: #fff;
  font-size: 20px;
}

.promo .container .subheader_phone {
  color: #fff;
  text-decoration: none;
}

.promo .container .subheader .fab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 38px;
  color: #FFF;
}

.promo .container .subheader_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.promo .container .suptitle {
  display: block;
  position: relative;
  text-align: center;
  font-weight: 200;
  margin: 20px 0 0 0;
  font-size: 36px;
  color: white;
  text-shadow: 8px 8px 10px rgba(0, 0, 0, 0.8);
  z-index: 4;
}

.promo .container .title {
  display: block;
  position: relative;
  text-align: center;
  font-weight: 600;
  margin: 50px 0 0 0;
  font-size: 48px;
  color: white;
  text-shadow: 8px 8px 10px rgba(0, 0, 0, 0.5);
  z-index: 4;
}

.promo .container .subtitle {
  display: block;
  position: relative;
  text-align: center;
  font-weight: 200;
  margin: 50px 0 50px 0;
  font-size: 30px;
  line-height: 50px;
  color: white;
  text-shadow: 8px 8px 10px rgba(0, 0, 0, 0.5);
  z-index: 4;
}

.promo .hand {
  display: block;
  position: absolute;
  max-width: 650px;
  z-index: 1;
  top: 3%;
  left: -8%;
}

@media (max-width: 1080px) {
  .promo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: url(../img/promobgdark.jpg) center center/cover no-repeat;
    min-height: 600px;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  .promo .container {
    display: block;
    margin: 0 auto;
    padding: 0 20px 0 20px;
  }
  .promo .container .header {
    margin-top: 10px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-height: 75px;
    font-size: 18px;
    line-height: 18px;
    width: 100%;
    border-radius: 5px;
    color: #fff;
    z-index: 4;
  }
  .promo .container .header__link {
    text-decoration: none;
    font-size: 14px;
  }
  .promo .container .subheader {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .promo .container .subheader_city {
    font-size: 36px;
  }
  .promo .container .subheader_phones {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    min-width: 250px;
    color: #fff;
    font-size: 16px;
  }
  .promo .container .subheader_phone {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
  }
  .promo .container .subheader .fab {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 38px;
    color: #FFF;
  }
  .promo .container .subheader_btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .promo .container .subheader .button {
    width: 180px;
    height: 60px;
    font-size: 70%;
  }
  .promo .container .suptitle {
    font-size: 30px;
  }
  .promo .container .title {
    font-size: 40px;
  }
  .promo .container .subtitle {
    font-size: 26px;
  }
  .promo .hand {
    display: block;
    position: absolute;
    max-width: 550px;
    z-index: 1;
    top: 7%;
    left: -12%;
  }
}

@media (max-width: 960px) {
  .promo .container {
    padding: 0 30px 0 30px;
  }
  .promo .container .suptitle {
    font-size: 28px;
  }
  .promo .container .title {
    font-size: 36px;
    font-weight: 500;
  }
  .promo .container .subtitle {
    font-size: 26px;
  }
  .promo .container .hand {
    display: block;
    position: absolute;
    max-width: 450px;
    z-index: 1;
    top: 12%;
    left: -12%;
  }
}

@media (max-width: 768px) {
  .promo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: url(../img/promobgdark.jpg) center center/cover no-repeat;
    min-height: 600px;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  .promo .container {
    display: block;
    margin: 0 auto;
  }
  .promo .container .hand {
    display: block;
    position: absolute;
    max-width: 350px;
    z-index: 1;
    top: 15%;
    left: -8%;
  }
  .promo .container .header {
    margin: 0 auto;
    margin-top: 15px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-height: 75px;
    font-size: 18px;
    line-height: 18px;
    width: 85%;
    border-radius: 5px;
    color: #fff;
    z-index: 4;
  }
  .promo .container .header__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-decoration: none;
    color: #fff;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.99);
    width: auto;
  }
  .promo .container .header__link:after {
    content: '';
    display: block;
    height: 2px;
    background-color: white;
    width: 0%;
    -webkit-transform: translateY(2px);
            transform: translateY(2px);
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
    margin: 0 auto;
  }
  .promo .container .header__link:hover:after {
    -webkit-transform: translateY(2px);
            transform: translateY(2px);
    width: 100%;
    margin: 0 auto;
  }
  .promo .container .subheader {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 auto;
    margin-top: 10px;
    position: relative;
    width: 60%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-height: 100px;
    text-align: center;
    z-index: 4;
  }
  .promo .container .subheader:first-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .promo .container .subheader_city {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 32px;
    line-height: 40px;
    font-weight: 200;
    text-align: center;
    -webkit-transform: translateY(-6px);
            transform: translateY(-6px);
    color: #fff;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.99);
  }
  .promo .container .subheader_phones {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    min-width: 200px;
    color: #fff;
    font-size: 16px;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .promo .container .subheader_phone {
    color: #fff;
    text-decoration: none;
  }
  .promo .container .subheader .fab {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 30px;
    color: #FFF;
  }
  .promo .container .subheader .button {
    width: 150px;
    height: 50px;
    padding: .4em 0;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .promo .container .suptitle {
    display: block;
    position: relative;
    text-align: center;
    font-weight: 200;
    margin: 20px 0 0 0;
    font-size: 30px;
    color: white;
    text-shadow: 8px 8px 10px rgba(0, 0, 0, 0.8);
    z-index: 4;
  }
  .promo .container .title {
    display: block;
    position: relative;
    text-align: center;
    font-weight: 600;
    margin: 50px 0 0 0;
    font-size: 40px;
    color: white;
    text-shadow: 8px 8px 10px rgba(0, 0, 0, 0.5);
    z-index: 4;
  }
  .promo .container .subtitle {
    display: block;
    position: relative;
    text-align: center;
    font-weight: 200;
    margin: 50px 0 50px 0;
    font-size: 26px;
    line-height: 50px;
    color: white;
    text-shadow: 8px 8px 10px rgba(0, 0, 0, 0.5);
    z-index: 4;
  }
}

@media (max-width: 640px) {
  .promo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: url(../img/promobgdark.jpg) center center/cover no-repeat;
    min-height: 600px;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  .promo .container .subheader {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 auto;
    position: relative;
    width: 75%;
  }
}

.rings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 600px;
  background-color: #dfdfdf;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.rings_description {
  display: block;
  line-height: 35px;
  color: #414141;
}

.rings_description .bold_text {
  font-weight: 700;
}

.rings .rings_title {
  font-size: 26px;
  margin-top: 50px;
}

.rings .ring_image {
  width: 40%;
  margin-right: 80px;
}

.rings .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 100%;
  padding: 0 20px 0 20px;
  margin-bottom: 60px;
  overflow: hidden;
}

.rings_pricetable {
  display: table;
  margin-left: auto;
  margin-right: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
  font-weight: 300;
  text-align: center;
  -webkit-box-shadow: 0px 0px 25px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 25px 2px rgba(0, 0, 0, 0.2);
}

.rings_pricetable th {
  text-align: left;
  color: #fff;
  background-color: #666669;
}

.rings_pricetable td {
  font-size: 14px;
  min-width: 150px;
  color: #414141;
  border-bottom: 1px solid #eee;
}

.rings_pricetable td sup {
  font-size: 14px;
}

.rings_pricetable th, .rings_pricetable td {
  padding: 10px 0 10px 0;
  height: 20px;
}

.rings_pricetable td:first-child {
  min-width: 150px;
}

.rings_pricetable td:nth-child(3) {
  min-width: 70px;
  font-weight: 700;
}

.rings_pricetable td:nth-child(4) {
  min-width: 70px;
}

.rings_pricetable td:last-child {
  min-width: 80px;
  text-align: center;
}

.rings_pricetable th:last-child {
  text-align: right;
}

.rings_pricetable tr:nth-child(odd) {
  background-color: #d8d8d8;
}

@media (max-width: 1080px) {
  .rings .container {
    padding: 0 30px 0 30px;
  }
  .rings .ring_image {
    width: 40%;
    margin-right: 40px;
    margin-left: 40px;
  }
}

@media (max-width: 960px) {
  .rings {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 600px;
    background-color: #dfdfdf;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .rings_description {
    display: block;
    line-height: 35px;
    color: #414141;
  }
  .rings_description .bold_text {
    font-weight: 700;
  }
  .rings .rings_title {
    font-size: 26px;
    margin-top: 50px;
  }
  .rings .ring_image {
    width: 40%;
    margin-right: 20px;
    margin-left: 20px;
  }
  .rings .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 100%;
    padding: 0 20px 0 20px;
    margin-bottom: 60px;
    overflow: hidden;
  }
  .rings_pricetable {
    display: table;
    margin-left: auto;
    margin-right: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: 300;
    text-align: center;
    -webkit-box-shadow: 0px 0px 25px 2px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 0px 25px 2px rgba(0, 0, 0, 0.2);
  }
  .rings_pricetable th {
    text-align: left;
    color: #fff;
    background-color: #666669;
  }
  .rings_pricetable td {
    font-size: 14px;
    min-width: 150px;
    color: #414141;
    border-bottom: 1px solid #eee;
  }
  .rings_pricetable td sup {
    font-size: 14px;
  }
  .rings_pricetable th, .rings_pricetable td {
    padding: 10px 0 10px 0;
    height: 20px;
  }
  .rings_pricetable td:first-child {
    min-width: 110px;
  }
  .rings_pricetable td:nth-child(2) {
    min-width: 110px;
    font-weight: 700;
  }
  .rings_pricetable td:nth-child(3) {
    min-width: 70px;
    font-weight: 700;
  }
  .rings_pricetable td:nth-child(4) {
    min-width: 70px;
  }
  .rings_pricetable td:last-child {
    min-width: 80px;
    text-align: center;
  }
  .rings_pricetable th:last-child {
    text-align: right;
  }
  .rings_pricetable tr:nth-child(odd) {
    background-color: #d8d8d8;
  }
}

@media (max-width: 768px) {
  .rings_description {
    width: 100%;
    margin: 0 auto;
    max-width: 600px;
  }
  .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 40px;
    max-width: 650px;
  }
  .wrapper .rings_pricetable {
    display: table;
    margin: 30px 0 20px 0;
    font-weight: 300;
    text-align: center;
    -webkit-box-shadow: 0px 0px 25px 2px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 0px 25px 2px rgba(0, 0, 0, 0.2);
  }
  .wrapper .rings_pricetable th {
    text-align: left;
    color: #fff;
    background-color: #666669;
  }
  .wrapper .rings_pricetable td {
    font-size: 16px;
    min-width: 160px;
    color: #414141;
    border-bottom: 1px solid #eee;
  }
  .wrapper .rings_pricetable td sup {
    font-size: 14px;
  }
  .wrapper .rings_pricetable th, .wrapper .rings_pricetable td {
    padding: 10px 5px 10px 5px;
    font-size: 14px;
    height: 20px;
  }
  .wrapper .rings_pricetable td:first-child {
    min-width: 120px;
  }
  .wrapper .rings_pricetable td:nth-child(2) {
    min-width: 120px;
    font-weight: 700;
  }
  .wrapper .rings_pricetable td:nth-child(3) {
    min-width: 80px;
    font-weight: 700;
  }
  .wrapper .rings_pricetable td:nth-child(4) {
    min-width: 80px;
  }
  .wrapper .rings_pricetable td:last-child {
    min-width: 80px;
    text-align: center;
  }
  .wrapper .rings_pricetable th:last-child {
    text-align: right;
  }
  .wrapper .rings_pricetable tr:nth-child(odd) {
    background-color: #d8d8d8;
  }
}

input {
  border: 1px solid black;
}

.calc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 550px;
  background-color: #f3f3f3;
  padding: 20px;
}

.calc_title {
  text-align: center;
  font-size: 28px;
  margin-top: 30px;
}

.calc .calc-input-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  width: 100%;
}

.calc .calc-input-section .calc_btn {
  margin-bottom: 40px;
}

.calc .diameter_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.calc .calc_descr {
  margin-right: 20px;
}

.calc-input-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 0px;
  padding: 10px;
}

.calc-input-section div {
  margin: 15px 0 15px 0;
}

.calc-input-section .choose-ring-diam {
  min-height: 35px;
  min-width: 60px;
  border-radius: 5px;
  border: 1px solid black;
  text-align: center;
}

.calc-input-section .rings-number-input {
  width: 50px;
  min-height: 25px;
  font-size: 18px;
  text-align: center;
  border-radius: 5px;
  border: 1px solid black;
  color: #2e2e2e;
}

.calc-input-section .cover_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 180px;
  height: 24px;
}

.calc-input-section .cover_wrapper .choose-cover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 22px;
  height: 22px;
}

.calc-input-section .ring_bottom_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 180px;
  height: 24px;
}

.calc-input-section .ring_bottom_wrapper .choose-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 22px;
  height: 22px;
}

.calc-input-section .trench_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.calc-input-section .trench_wrapper .check-trench-works {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 22px;
  height: 22px;
}

.calc-input-section .choose-trench-length {
  border-radius: 5px;
  border: 1px solid black;
  width: 50px;
  text-align: center;
}

.calc-input-section .choose-distance {
  width: 50px;
  text-align: center;
  border-radius: 5px;
  border: 1px solid black;
}

.calc-input-section .cost_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.calc-input-section .total-cost {
  font-weight: 700;
  font-size: 22px;
}

.calc-input-section .total-cost-value {
  display: block;
  font-weight: 700;
  font-size: 36px;
  line-height: 28px;
  color: #38cf2a;
  margin: 0;
  margin-left: 15px;
}

@media (max-width: 768px) {
  .container .calc-input-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
  .container .diameter_wrapper {
    width: 100%;
  }
  .container .calc_descr {
    font-size: 16px;
  }
  .container label {
    font-size: 16px;
  }
  .container div {
    font-size: 16px;
  }
  .calc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
  }
  .calc .calc_btn {
    margin-bottom: 40px;
  }
  .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 40px;
  }
}

@media (max-width: 640px) {
  .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 40px;
  }
}

.button {
  display: inline-block;
  width: 220px;
  font-size: 80%;
  color: rgba(255, 255, 255, 0.9);
  text-shadow: #2e7ebd 0 1px 2px;
  text-decoration: none;
  text-align: center;
  line-height: 1.1;
  white-space: pre-line;
  padding: .7em 0;
  border: 1px solid;
  border-color: #60a3d8 #2970a9 #2970a9 #60a3d8;
  border-radius: 6px;
  outline: none;
  background: #60a3d8 -webkit-gradient(linear, left top, left bottom, from(#89bbe2), color-stop(50%, #60a3d8), to(#378bce));
  background: #60a3d8 linear-gradient(#89bbe2, #60a3d8 50%, #378bce);
  -webkit-box-shadow: inset rgba(255, 255, 255, 0.5) 1px 1px;
          box-shadow: inset rgba(255, 255, 255, 0.5) 1px 1px;
}

.button:first-line {
  font-size: 170%;
  font-weight: 700;
}

.button:hover {
  color: white;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#9dc7e7), color-stop(50%, #74afdd), to(#378bce));
  background-image: linear-gradient(#9dc7e7, #74afdd 50%, #378bce);
}

.button:active {
  color: white;
  border-color: #2970a9;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#5796c8), to(#6aa2ce));
  background-image: linear-gradient(#5796c8, #6aa2ce);
  -webkit-box-shadow: none;
          box-shadow: none;
}

.rent {
  background-color: #e7e7e7;
  padding: 60px 0 100px 0;
}

.rent .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 0 30px 0 0;
}

.rent_title {
  text-align: center;
  font-size: 28px;
  margin: 0 0 40px 0;
}

.rent_descr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 600px;
  max-width: 700px;
  text-align: center;
  margin: 0 30px 0 30px;
}

.rent_img {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.rent_img img {
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.rent .big-manipulator-descr {
  display: table;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 300;
  text-align: center;
  -webkit-box-shadow: 0px 0px 25px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 25px 10px rgba(0, 0, 0, 0.2);
}

.rent .big-manipulator-descr td {
  min-width: 150px;
  color: #414141;
  border-bottom: 1px solid #eee;
}

.rent .big-manipulator-descr th, .rent .big-manipulator-descr td {
  padding: 10px 0 10px 0;
  height: 20px;
}

.rent .big-manipulator-descr td:first-child {
  min-width: 300px;
}

.rent .big-manipulator-descr td:last-child {
  min-width: 200px;
  text-align: center;
  font-weight: 700;
}

.rent .big-manipulator-descr tr {
  background-color: #e4e4e4;
}

.rent .big-manipulator-descr tr:nth-child(odd) {
  background-color: #d8d8d8;
}

@media (max-width: 1080px) {
  .rent_descr {
    min-width: 400px;
    margin-right: 60px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .rent_descr_img {
    width: 50%;
  }
  .rent_descr_img img {
    width: 100%;
  }
  .rent_descr .contacts_text {
    font-size: 16px;
  }
  .rent_descr .contacts_phone {
    font-size: 16px;
  }
  .rent .container {
    padding: 0 40px 0 40px;
  }
  .rent .container .big-manipulator-descr {
    display: table;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    -webkit-box-shadow: 0px 0px 25px 10px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 0px 25px 10px rgba(0, 0, 0, 0.2);
  }
  .rent .container .big-manipulator-descr td {
    min-width: 120px;
    color: #414141;
    border-bottom: 1px solid #eee;
  }
  .rent .container .big-manipulator-descr th, .rent .container .big-manipulator-descr td {
    padding: 10px 0 10px 0;
    height: 20px;
  }
  .rent .container .big-manipulator-descr td:first-child {
    min-width: 220px;
  }
  .rent .container .big-manipulator-descr td:last-child {
    min-width: 180px;
    text-align: center;
    font-weight: 700;
  }
  .rent .container .big-manipulator-descr tr {
    background-color: #e4e4e4;
  }
  .rent .container .big-manipulator-descr tr:nth-child(odd) {
    background-color: #d8d8d8;
  }
}

@media (max-width: 768px) {
  .rent {
    padding: 30px 20px 30px 20px;
  }
  .rent_title {
    margin: 0;
  }
  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .container .rent_img {
    margin-top: 30px;
  }
}

.rent_small {
  background-color: #dbdbdb;
  padding: 60px 0 100px 0;
}

.rent_small .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-right: 30px;
}

.rent_small_descr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 600px;
  max-width: 700px;
  text-align: center;
  margin: 0 30px 0 30px;
}

.rent_small_img {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.rent_small_img img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 100%;
}

.rent_small .small-manipulator-descr {
  display: table;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 300;
  text-align: center;
  -webkit-box-shadow: 0px 0px 25px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 25px 10px rgba(0, 0, 0, 0.2);
}

.rent_small .small-manipulator-descr td {
  min-width: 150px;
  color: #414141;
  border-bottom: 1px solid #eee;
}

.rent_small .small-manipulator-descr th, .rent_small .small-manipulator-descr td {
  padding: 10px 0 10px 0;
  height: 20px;
}

.rent_small .small-manipulator-descr td:first-child {
  min-width: 300px;
}

.rent_small .small-manipulator-descr td:last-child {
  min-width: 200px;
  text-align: center;
  font-weight: 700;
}

.rent_small .small-manipulator-descr tr {
  background-color: #e4e4e4;
}

.rent_small .small-manipulator-descr tr:nth-child(odd) {
  background-color: #d8d8d8;
}

@media (max-width: 1080px) {
  .rent_small {
    background-color: #dbdbdb;
    padding: 60px 0 100px 0;
  }
  .rent_small .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 0 40px 0 40px;
  }
  .rent_small_descr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-width: 400px;
    text-align: center;
    margin: 0 30px 0 30px;
    margin-right: 60px;
  }
  .rent_small_descr .contacts_text {
    font-size: 16px;
  }
  .rent_small_descr .contacts_phone {
    font-size: 16px;
  }
  .rent_small_img {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .rent_small_img img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-width: 100%;
  }
  .rent_small .small-manipulator-descr {
    display: table;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    -webkit-box-shadow: 0px 0px 25px 10px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 0px 25px 10px rgba(0, 0, 0, 0.2);
  }
  .rent_small .small-manipulator-descr td {
    min-width: 150px;
    color: #414141;
    border-bottom: 1px solid #eee;
  }
  .rent_small .small-manipulator-descr th, .rent_small .small-manipulator-descr td {
    padding: 10px 0 10px 0;
    height: 20px;
  }
  .rent_small .small-manipulator-descr td:first-child {
    min-width: 230px;
  }
  .rent_small .small-manipulator-descr td:last-child {
    min-width: 180px;
    text-align: center;
    font-weight: 700;
  }
  .rent_small .small-manipulator-descr tr {
    background-color: #e4e4e4;
  }
  .rent_small .small-manipulator-descr tr:nth-child(odd) {
    background-color: #d8d8d8;
  }
}

@media (max-width: 768px) {
  .rent_small {
    padding: 30px 20px 30px 20px;
  }
  .rent_small .small_manipulator {
    margin: 0;
    margin-top: 20px;
  }
  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .container .rent_small_img {
    margin-top: 30px;
  }
}

.rent_mixer {
  background-color: #cfcfcf;
  padding: 60px 0;
}

.rent_mixer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-right: 30px;
}

.rent_mixer .container .rent_mixer_descr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 50%;
  min-width: 450px;
  text-align: center;
  margin: 0 30px 0 30px;
}

.rent_mixer .container .rent_mixer_img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
}

.rent_mixer .container .rent_mixer_img img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 100%;
}

@media (max-width: 1080px) {
  .rent_mixer {
    background-color: #cfcfcf;
    padding: 60px 0;
  }
  .rent_mixer .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 0 40px 0 40px;
  }
  .rent_mixer .container .rent_mixer_descr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 50%;
    min-width: 400px;
    text-align: center;
    margin: 0 30px 0 30px;
    margin-right: 60px;
  }
  .rent_mixer .container .rent_mixer_descr .contacts_phone {
    font-size: 16px;
  }
  .rent_mixer .container .rent_mixer_descr .contacts_text {
    font-size: 16px;
  }
  .rent_mixer .container .rent_mixer_img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 50%;
  }
  .rent_mixer .container .rent_mixer_img img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-width: 100%;
  }
}

@media (max-width: 768px) {
  .rent_mixer {
    margin: 0;
    padding: 0 0 20px 0;
  }
  .rent_mixer .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 20px 0 20px 0;
  }
  .rent_mixer .container .rent_mixer_img {
    margin-top: 20px;
  }
}

.land_works {
  text-align: center;
}

.land_works_title {
  margin-top: 50px;
  margin-bottom: 30px;
  font-size: 20px;
}

.land_works_pricetable {
  display: table;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  margin-bottom: 60px;
  font-size: 12px;
  font-weight: 300;
  text-align: center;
  -webkit-box-shadow: 0px 0px 15px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 15px 15px rgba(0, 0, 0, 0.1);
}

.land_works_pricetable td {
  font-size: 15px;
  min-width: 120px;
  color: #333333;
  border-bottom: 1px solid #969696;
  padding: 10px 5px 10px 5px;
  height: 25px;
  text-align: center;
}

.land_works_pricetable tr {
  background-color: #f0f0f0;
}

.land_works_pricetable tr:nth-child(odd) {
  background-color: #e0e0e0;
}

.land_works_pricetable tr:first-child {
  font-weight: 500;
  min-height: 200px;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  align-items: center;
  text-align: center;
}

.contacts_text {
  margin-right: 10px;
}

.contacts_phone {
  text-decoration: none;
  font-size: 20px;
  margin-left: 5px;
}

.contacts .fab {
  font-size: 28px;
}

.contacts .fa-telegram {
  color: #4b73e0;
  margin-right: 5px;
}

.contacts .fa-viber {
  color: #4a207a;
}

.materials {
  background-color: #e6e6e6;
}

.materials .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 60px;
}

.materials_wrapper {
  max-width: 600px;
}

.materials_descr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 60px;
  margin-right: 50px;
}

.materials_img {
  margin-top: 60px;
  width: 50%;
}

.materials_img img {
  display: block;
  max-width: 100%;
  border-radius: 100%;
}

@media (max-width: 1080px) {
  .materials {
    background-color: #e6e6e6;
  }
  .materials .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 40px 40px 40px;
  }
  .materials_wrapper {
    max-width: 600px;
  }
  .materials_wrapper .contacts_phone {
    font-size: 16px;
  }
  .materials_wrapper .contacts_text {
    font-size: 16px;
  }
  .materials_descr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 60px;
    margin-right: 50px;
    font-size: 16px;
  }
  .materials_img {
    margin-top: 60px;
    width: 50%;
  }
  .materials_img img {
    display: block;
    max-width: 100%;
    border-radius: 100%;
  }
}

@media (max-width: 768px) {
  .materials .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  .materials .container .materials_title {
    margin-top: 40px;
  }
  .materials .container .materials_descr {
    margin-top: 10px;
  }
  .materials .container .contacts {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
  }
}

.wood {
  background-color: #d8d8d8;
}

.wood .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 60px;
  padding-top: 60px;
  padding-right: 30px;
}

.wood_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  margin-right: 50px;
}

.wood_wrapper .wood_price_table {
  -webkit-box-shadow: 0px 0px 30px 20px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 30px 20px rgba(0, 0, 0, 0.15);
  color: red;
}

.wood_descr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 10px;
  line-height: 36px;
}

.wood_descr .wood_bold {
  margin-top: 25px;
  font-weight: 700;
}

.wood_img {
  max-width: 50%;
}

.wood_img img {
  display: block;
  max-width: 100%;
  border-radius: 100%;
}

@media (max-width: 1080px) {
  .wood {
    background-color: #d8d8d8;
  }
  .wood .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 60px 40px;
  }
  .wood_wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    margin-right: 50px;
  }
  .wood_wrapper .wood_price_table {
    -webkit-box-shadow: 0px 0px 30px 20px rgba(0, 0, 0, 0.15);
            box-shadow: 0px 0px 30px 20px rgba(0, 0, 0, 0.15);
    color: red;
  }
  .wood_descr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 10px;
    line-height: 36px;
    font-size: 16px;
  }
  .wood_descr .wood_bold {
    margin-top: 25px;
    font-weight: 700;
  }
  .wood_descr .land_works_pricetable {
    display: table;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    margin-bottom: 60px;
    font-weight: 300;
    text-align: center;
    -webkit-box-shadow: 0px 0px 30px 20px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 0px 30px 20px rgba(0, 0, 0, 0.2);
  }
  .wood_descr .land_works_pricetable td {
    min-width: 150px;
    color: #333333;
    border-bottom: 1px solid #969696;
    padding: 10px 5px 10px 5px;
    height: 25px;
    text-align: center;
    font-size: 17px;
  }
  .wood_descr .land_works_pricetable tr {
    background-color: #f0f0f0;
  }
  .wood_descr .land_works_pricetable tr:nth-child(odd) {
    background-color: #e0e0e0;
  }
  .wood_descr .land_works_pricetable tr:first-child {
    font-weight: 500;
    min-height: 200px;
  }
  .wood_img {
    max-width: 50%;
  }
  .wood_img img {
    display: block;
    max-width: 100%;
    border-radius: 100%;
  }
}

@media (max-width: 960px) {
  .wood_descr {
    font-size: 15px;
  }
  .wood_bold {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .wood_title {
    margin: 0;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .wood .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 20px 30px 20px 30px;
  }
  .wood .container .wood_wrapper {
    margin: 0;
  }
  .wood_title {
    font-size: 22px;
  }
  .wood_descr {
    font-size: 20px;
  }
  .wood_bold {
    font-size: 20px;
  }
}

.pageup {
  display: none;
  position: fixed;
  bottom: 40px;
  right: 40px;
  width: 40px;
  height: 40px;
}

.pageup i {
  width: 100%;
}

.land_works {
  background-color: #dadada;
  padding: 30px 0 20px 0;
}

.land_works .container {
  padding: 0 30px 0 30px;
}

.land_works_title {
  margin: 0;
  margin-bottom: 20px;
}

.land_works .land_works_pricetable {
  display: table;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 12px;
  font-weight: 300;
  text-align: center;
  -webkit-box-shadow: 0px 0px 15px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 15px 15px rgba(0, 0, 0, 0.1);
}

.land_works .land_works_pricetable td {
  font-size: 15px;
  min-width: 120px;
  color: #333333;
  border-bottom: 1px solid #969696;
  padding: 10px 5px 10px 5px;
  height: 25px;
  text-align: center;
}

.land_works .land_works_pricetable tr {
  background-color: #f0f0f0;
}

.land_works .land_works_pricetable tr:nth-child(odd) {
  background-color: #e0e0e0;
}

.land_works .land_works_pricetable tr:first-child {
  font-weight: 500;
  min-height: 200px;
}

@media (max-width: 768px) {
  .land_works {
    text-align: center;
    background-color: #dadada;
    padding: 30px 0 20px 0;
  }
  .land_works .land_works_title {
    margin: 0 auto;
    margin-bottom: 30px;
  }
  .land_works .container {
    padding: 0 30px 0 30px;
    text-align: center;
  }
  .land_works_title {
    margin: 0;
    margin-bottom: 20px;
  }
  .land_works .land_works_pricetable {
    display: table;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 12px;
    font-weight: 300;
    text-align: center;
    -webkit-box-shadow: 0px 0px 15px 15px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 0px 15px 15px rgba(0, 0, 0, 0.1);
  }
  .land_works .land_works_pricetable td {
    font-size: 14px;
    min-width: 90px;
    color: #333333;
    border-bottom: 1px solid #969696;
    padding: 10px 5px 10px 5px;
    height: 25px;
    text-align: center;
  }
  .land_works .land_works_pricetable td:nth-child(1) {
    max-width: 90px;
  }
  .land_works .land_works_pricetable td:nth-child(2) {
    max-width: 90px;
  }
  .land_works .land_works_pricetable td:nth-child(3) {
    max-width: 90px;
  }
  .land_works .land_works_pricetable td:nth-child(4) {
    max-width: 90px;
  }
  .land_works .land_works_pricetable td:nth-child(5) {
    max-width: 90px;
  }
  .land_works .land_works_pricetable tr {
    background-color: #f0f0f0;
  }
  .land_works .land_works_pricetable tr:nth-child(odd) {
    background-color: #e0e0e0;
  }
  .land_works .land_works_pricetable tr:first-child {
    font-weight: 500;
    min-height: 200px;
  }
}

.feed-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  width: 350px;
}

.feed-form input {
  margin-top: 15px;
  width: 100%;
  height: 50px;
  border-radius: 5px;
  background-color: #fff;
  border: none;
  padding: 0 20px;
}

.feed-form input:nth-child(4) {
  margin-top: 20px;
  margin-bottom: 20px;
}

.feed-form input:nth-child(1) {
  margin-top: 15px;
}

.feed-form button {
  text-align: center;
  padding: 0;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 210px;
  height: 55px;
}

.overlay {
  top: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 5;
  display: none;
}

.modal {
  background-color: #e0e0e0;
  border-radius: 10px;
  position: absolute;
  min-height: 300px;
  min-width: 350px;
  top: 50%;
  left: 50%;
  text-align: center;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 40px;
}

.modal__close {
  position: absolute;
  top: 0;
  right: -30px;
  font-size: 36px;
  line-height: 20px;
  color: #fff;
  cursor: pointer;
}

.modal_subtitle {
  color: #000;
  font-size: 18px;
}

.modal_description {
  margin-top: 10px;
  color: #000;
  font-size: 14px;
}

.modal_mini {
  padding: 40px 40px;
  min-height: 80px;
  background-color: #fff;
}

.modal .error {
  border: 1px solid red;
  text-align: center;
}

.modal label.error {
  border: none;
  margin-bottom: 10px;
  margin-top: 5px;
  font-size: 12px;
  color: red;
}

#consultation, #thanks {
  display: none;
}
/*# sourceMappingURL=style.css.map */